/* CurrentWeather.css */
.current-weather {
    text-align: center; 
}

.location {
    font-size: 24px; 
    font-weight: bold;
}

.current-conditions {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.temperature {
    font-size: 36px; 
}
