.temperature{
    font-size: 2.3rem;
    font-weight: 900;
  
}

.current-weather img{
   
    margin: 0 auto;
    transform: scale(2);
    padding: 0 auto;
}

.weather-description{
    text-transform: capitalize;
}

.location{
    
    font-weight: bold;
}

.current-weather{
    height: 160px;
    color:  #7e7e7e;;
}


.max-mini{
    padding: 0 .5rem;
}