/* This file contains the CSS for the Home Page */


.common-section {
    margin: 1rem;
    padding: 1rem; /* Slightly increased padding */
    background: linear-gradient(to bottom, #232329, #7aaa2c);
    opacity: 0.9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* More subtle shadow */
    flex: 1; /* Allow sections to grow based on available space */
  }

.section{
    
    text-align: center;
    border-radius: 1.5rem;
    color:  whitesmoke;

}

.search-bar input {
    padding: .5rem;
    border-radius: 1rem;
    width: 94%;
    border: none;
    font-size: 1rem;
}

