/* This file contains the CSS for the App component. */

/*Weather-Specific Backgrounds*/
.sunny {
  background-image: url(./images/sunny.jpg); 
}

.rainy {
  background-image: url(./images/rainy.jpg); 
}

.cloudy {
   background-image: url(./images/clouds.jpg); 
 }

.snowy { 
  background-image: url(./images/snowy.jpg); 
}

html, body {
  height: 100%; 
  margin: 0;
  font-family: 'Arial', sans-serif; 
}

/*Main Container Styling*/
#app-container {
  min-height: 100vh; 
  background-repeat: no-repeat; 
  background-size: cover;    
  background-position: center; 
  display: flex; 
  flex-direction: column; 
}
