.bottom-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
    
  }
  
  .bottom-buttons img {
    width: 2rem; /* Adjust the width and height as needed */
    height: 2rem;
    cursor: pointer;
  }
  