/* Footer.css */
.app-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    position: fixed; 
    bottom: 0;
    width: 100%; 
  }
  
  .footer-button {
    background-image: linear-gradient(to bottom, #4F8000, #2F313A)
  }
  
  .footer-button.active svg {
    fill: white;
  }