#top, #bottom{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.box{
    display: flex;
    justify-content: center;
    padding: 4%;
    margin: 3%;
    border-radius: 15%;
    background-color: green;
}

.search{
    padding: 5%;
    border-radius: 15%;
    background-color: rgb(167, 161, 161);
}

::placeholder{
    color: rgb(114, 28, 28);
}