/* recomStyl.css */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  font-family: Arial, sans-serif;
}

.recom-container,
.alert-container,
.crop-container {
  border-radius: 1.5rem;
  padding: 20px;
  padding-bottom: 40px; /* Added padding to accommodate input bar */
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #fff; /* Example background color */
  opacity: 0.9;
  background: linear-gradient(to bottom, #232329, #7aaa2c);
  color: white;
  font-weight: lighter;
  font-size: 1.2rem;
}

.recom-container ul li {
  margin-bottom: 10px; /* Add spacing between list items */
  border: 1px solid #ccc; /* Add border to each list item */
  padding: 1rem; /* Add padding inside each list item */
  font-family: Arial, sans-serif; /* Use a common sans-serif font */
  border-radius: 1.5rem;
}

.recom-container ul {
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default bullet points */
}

.recom-container h2,
.alert-container h2,
.crop-container h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 15px;
}

.recom-container input[type="text"],
.alert-container input[type="text"],
.crop-container input[type="text"],
.recom-container button,
.alert-container button,
.crop-container button {
  margin-bottom: 10px;
  width: calc(
    100% - 22px
  ); /* Adjusted width to accommodate padding and border */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recom-container button,
.alert-container button,
.crop-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alert-list,
.crop-list {
  list-style-type: none;
  padding: 0;
}

.alert-list-item,
.crop-list-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.alert-list-item:last-child,
.crop-list-item:last-child {
  margin-bottom: 0;
}

/* Map.css */

.map-container {
  border-radius: 1.5rem;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #fff;
}
